{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h2>Вход</h2>
    <form id="login-form" action="/login" method="post" class="ajax-form">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" placeholder="Введите имя пользователя">

        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required placeholder="Введите ваш пароль">

        <button type="submit">Войти</button>
        <p id="message" class="message" style="color: red;"></p>
    </form>
{% endblock %}
